*,
*::before,
*::after {
	box-sizing: border-box;
}

* {
	margin: 0;
}

img,
svg {
	display: block;
	max-width: 100%;
}

img {
	vertical-align: middle;
}

input,
button,
textarea,
select {
	font: inherit;
	padding: 0;
}

textarea {
	resize: vertical;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
	overflow-wrap: break-word;
}

a {
	text-decoration: none;
}

ul,
ol {
	list-style: none;
	padding: 0;
}


