@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

:root {
	--quaternary-color: #efeee5;
	--tertiary-color: #f0e2d2;
	--secondary-color: #d5e3e6;
	--primary-color: #5b6d92;
	--accent-color: #d18266;
	--text-color: #364042;
	--dark-color-90: rgba(54, 64, 66, 0.9);
	--dark-color-80: rgba(54, 64, 66, 0.8);
	--dark-color-50: rgba(54, 64, 66, 0.5);
	--white-color: #ffffff;
}

html {
	font-family: 'Open Sans', sans-serif;
	scroll-behavior: smooth;
}

body {
	font-family: 'Open Sans', sans-serif;
	font-size: 14px;
	color: var(--text-color);
}

a {
	color: var(--text-color);
	outline: none;
	cursor: pointer;
}

/* ------------------------- Truncate ------------------------- */
.ell {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.ells {
	display: -webkit-box;
	overflow: hidden;
	word-wrap: break-word;
	-webkit-box-orient: vertical;
}

.ells._8 {
	-webkit-line-clamp: 8;
}

.ells._6 {
	-webkit-line-clamp: 6;
}

.ells._2 {
	-webkit-line-clamp: 2;
}

/* ------------------------- Grid layout ------------------------- */
.container {
	padding-right: 15px;
	padding-left: 15px;
	/* phần đệm nội dung */

	margin-right: auto;
	margin-left: auto;
	/* chỉnh vào giữa */

	max-width: 1000px;
}

.container-fluid {
	width: 100%;
}

.row::after {
	content: '';
	display: block;
	clear: both;
}

.row {
	margin-left: -15px;
	margin-right: -15px;
}

.col {
	float: left;
	padding-left: 15px;
	padding-right: 15px;
}

.col-2-5 {
	width: 20%;
}

.col-1 {
	width: 8.33333333%;
}

.col-2 {
	width: 16.66666667%;
}

.col-3 {
	width: 25%;
}

.col-4 {
	width: 33.33333333%;
}

.col-5 {
	width: 41.66666667%;
}

.col-6 {
	width: 50%;
}

.col-7 {
	width: 58.33333333%;
}

.col-8 {
	width: 66.66666667%;
}

.col-9 {
	width: 75%;
}

.col-10 {
	width: 83.33333333%;
}

.col-11 {
	width: 91.66666667%;
}

.col-12 {
	width: 100%;
}

/* ------------------------- Button ------------------------- */
.btn {
	padding: 5px 20px;
	border: 1px solid transparent;

	text-align: center;
	font-size: 16px;

	cursor: pointer;
	transition: all 0.3s ease;

	background-color: var(--accent-color);
	color: var(--white-color);
}

.btn:hover {
	background-color: var(--primary-color);
	color: var(--white-color);
}

.btn:active {
	opacity: 0.8;
}

/* ------------------------- Input ------------------------- */
.input {
	padding: 5px 10px;

	border: 1px solid transparent;
	outline: none;

	background-color: transparent;
	color: var(--text-color);
}

.input::placeholder {
	color: var(--dark-color-80);
}

.input:focus::placeholder {
	color: transparent;
}

/* ------------------------- Logo ------------------------- */
.logo-link {
	font-family: 'Bebas Neue', sans-serif;
	font-size: 50px;
	font-weight: 800;
	color: var(--text-color);
}

/* ------------------------- Section ------------------------- */
.section-padding {
	padding-top: 48px;
	padding-bottom: 48px;
}

.section-heading {
	font-size: 24px;
	font-weight: 700;
	line-height: 32px;
	letter-spacing: 0.15px;

	padding-bottom: 12px;
	margin-bottom: 16px;
}

/* User Select */
.noselect {
	-webkit-touch-callout: none; /* Safari */
	-webkit-user-select: none; /* Safari 3.1+ */
	-khtml-user-select: none; /* Konqueror 4.0+ */
	-moz-user-select: none; /* Firefox 1.0+ */
	-ms-user-select: none; /* Internet Explorer 10+ */
	user-select: none; /* Standard syntax */
}

/* Scrollbar */
::-webkit-scrollbar {
	width: 8px;
}

::-webkit-scrollbar-track {
	background-color: rgb(130, 130, 130);
}

::-webkit-scrollbar-thumb {
	background: var(--text-color);
}

::-webkit-scrollbar-thumb:hover {
	background: var(--accent-color);
}
